/**
 *
 * Apply your custom CSS here
 *
*/

body {	
}

a {
}

/*navbar*/
.navbar.horizontal-menu.navbar-minimal.navbar-fixed-top+.page-container>div>.sidebar-menu.fixed .sidebar-menu-inner{
    top: 55px;
}

/*validate forms*/
form .form-group.validate-has-error .form-control + div {
    display: block;
    padding-top: 5px;
    font-size: 12px;
    color: #cc3f44;
}