/**
 *
 * Apply your custom CSS here
 *
*/

body {	
}

a {
}

.page-body.skin-white .sidebar-menu .main-menu li.has-sub>a:before {
    color: #666;
}

/*navbar*/
.navbar.horizontal-menu.navbar-minimal.navbar-fixed-top+.page-container>div>.sidebar-menu.fixed .sidebar-menu-inner{
    top: 55px;
}

/*validate forms*/
form .form-group.validate-has-error .form-control + div {
    display: block;
    padding-top: 5px;
    font-size: 12px;
    color: #cc3f44;
}
form .form-group.validate-has-error .input-group + div {
    display: block;
    padding-top: 5px;
    font-size: 12px;
    color: #cc3f44;
}
form .form-group.validate-has-error .ui-select-container + div {
    display: block;
    padding-top: 5px;
    font-size: 12px;
    color: #cc3f44;
}

.ui-select-bootstrap button{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}