<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title" ui-sref=".datosPrincipales">Ingrese los datos</h3>
        <div class="panel-options">
            <a href="" data-toggle="panel">
                <span class="collapse-icon">–</span>
                <span class="expand-icon">+</span>
            </a>
            <a href="" data-toggle="remove">
                ×
            </a>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <form name="form" novalidate>
                    <strong ng-if="!view.caja.detalleOld.length">No se encontró detalle de caja, verifique que la caja este abierta.</strong>
                    <tabset ng-if="view.caja.detalleOld.length" vertical="true" type="pills" class="tabs-vertical-env tabs-vertical-bordered">
                        <tab ng-repeat="tab in view.caja.detalleOld" heading="{{tab.boveda.denominacion}}">
                            <div class="row">
                                <div class="col-sm-5">
                                    <table class="table table-bordered table-striped table-condensed table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Valor</th>
                                            <th>Cantidad</th>
                                            <th>Sub total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in tab.detalleHistorial | orderBy: 'valor'">
                                            <td style="height: 33px;"><span ng-bind="$index+1"></span></td>
                                            <td><span ng-bind="item.valor | currency: ''"></span></td>
                                            <td><span ng-bind="item.cantidad"></span></td>
                                            <td>
                                                <span ng-bind="item.getSubTotal() | currency: ''"></span>
                                                &nbsp;
                                                <span ng-bind="tab.boveda.moneda"></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th rowspan="1" colspan="3">Total:</th>
                                            <th rowspan="1" colspan="1"><span ng-bind="tab.total | currency : ''"></span></th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="col-sm-7">
                                    <table class="table table-bordered table-striped table-condensed table-hover">
                                        <thead>
                                        <tr>
                                            <th>Valor</th>
                                            <th>Cantidad</th>
                                            <th>Sub total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in view.caja.detalleNew[$index].detalleHistorial | orderBy: 'valor'">
                                            <td width="20%"><span ng-bind="item.valor | currency: ''"></span></td>
                                            <td width="35%" style="padding: 0;"><input type="text" name="cantidad" ng-model="item.cantidad" ui-number-mask="0" min="1" max="999999999" ng-minlength="1" ng-maxlength="30" class="form-control" required/></td>
                                            <td>
                                                <span ng-bind="item.getSubTotal() | currency: ''"></span>
                                                &nbsp;
                                                <span ng-bind="tab.boveda.moneda"></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th rowspan="1" colspan="2">Total:</th>
                                            <th rowspan="1" colspan="1"><span ng-bind="view.caja.detalleNew[$index].total | currency : ''"></span></th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                    <p>
                        <button type="button" class="btn btn-primary" ng-click="cerrar()" ladda="control.block" data-style="expand-right">Guardar</button>
                        <button type="button" class="btn btn-white" ui-sref="^.resumen">Cancelar</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>