<div ng-controller="BuscarPersonaJuridicaController">
    <div class="row">
        <div class="col-sm-12">
            <form name="formBuscar" ng-submit="search()" novalidate>
                <div class="form-group">
                    <div class="" style="padding: 5px; margin-bottom: -1px; margin-right: -2px; border: 1px solid #d4d4d4;">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group" style="margin-bottom: 0px;">
                                    <div class="input-group">
                                        <input focus-on="focusFilterText" type="text" name="filterText" class="form-control ng-pristine ng-valid ng-touched" ng-model="filterOptions.filterText" placeholder="Número documento / Apellidos y nombres" capitalize autofocus>
                                        <span class="input-group-btn"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group" style="margin-bottom: 0px;">
                                    <button type="button" class="btn btn-link">Avanzado</button>
                                </div>
                            </div>
                            <div class="col-sm-3" style="text-align: right;">
                                <div class="form-group" style="margin-bottom: 0px;">
                                    <button type="button" ng-click="nuevo()" class="btn btn-primary">Nuevo</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ui-grid="gridOptions" class="grid"></div>
                </div>
            </form>
        </div>
    </div>
</div>
