<!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

<!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
<!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
<!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
<div class="sidebar-menu toggle-others" ng-class="{ 'fixed' : isCollapsedSettingsPane == true}">

    <div class="sidebar-menu-inner" ui-view="viewMenu" style="position: inherit;">

        <ul id="main-menu" class="main-menu">
            <!-- add class "multiple-expanded" to allow multiple submenus to open -->
            <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
            <li ng-repeat="menu in menus">
                <a ui-sref="{{menu.state}}">
                    <i class="linecons-star"></i>
                    <span ng-bind="menu.name" class="title"></span>
                </a>
                <ul style="display: inherit;">
                    <li ng-repeat="submenu in menu.submenu" ui-sref-active="active">
                        <a ui-sref="{{submenu.state}}">{{submenu.name}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</div>

<div class="main-content" style="width: 100%;">

    <div ui-view class="main-content-view ng-scope">

        <div class="page-title full-width ng-scope" title="Native Elements" description="Plain text boxes, select dropdowns and other basic form elements">
            <div class="title-env">
                <h1 class="title ng-binding"><span>{{themplate.header}}</span></h1>
            </div>
        </div>

        <div class="row ng-scope">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div ui-view="viewContent">
                        <span>Loading...</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Footer -->
        <!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
        <!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
        <!-- Or class "fixed" to  always fix the footer to the end of page -->
        <footer class="main-footer sticky footer-type-1">
            <div class="footer-inner">
                <!-- Add your copyright text here -->
                <div class="footer-text">
                    &copy; 2014
                    <strong>SistCoopEE</strong>
                    design by <a href="http://laborator.co" target="_blank">Softgreen S.A.C</a>
                </div>

                <!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
                <div class="go-up">
                    <a href="#" rel="go-top">
                        <i class="fa-angle-up"></i>
                    </a>
                </div>
            </div>
        </footer>
    </div>
</div>
