<div class="page-title full-width">
    <div class="title-env">
        <h1 class="title ng-binding">Usuarios</h1>
        <p class="description ng-binding">Usuarios activos en el sistema.</p>
    </div>
</div>

<div class="panel panel-headerless ng-scope">
    <div class="panel-body">

        <ul class="highlights list-unstyled">
            <li class="version">
                <h4>VERSION 1.3</h4>
            </li>
            <li>
                <a href="" class="entry-img">
                    <img src="../../images/keycloak.png">
                </a>
                <div class="entry-description">
                    <h3>Keycloak administra los usuarios</h3>
                    <p>Los usuarios del sistema son administrador por Keycloak, un sistema de administracion externo.</p>
                    <p>La seguridad esta garantizada por Keycloak, para acceder al sistema haga clic en el boton "Administrar".</p>
                    <p>
                        <button ng-click="getUsersManagementUrl()" class="btn btn-blue">Administrar</button>
                    </p>
                </div>
            </li>
        </ul>

    </div>
</div>