<header class="logo-env">

    <!-- logo -->
    <div class="logo">
        <a href="http://themes.laborator.co/xenon/angular/" class="logo-expanded">
            <img src="http://themes.laborator.co/xenon/assets/images/logo@2x.png" width="80" alt="" />
        </a>

        <a href="http://themes.laborator.co/xenon/angular/" class="logo-collapsed">
            <img src="http://themes.laborator.co/xenon/assets/images/logo-collapsed@2x.png" width="40" alt="" />
        </a>
    </div>

    <div class="mobile-menu-toggle visible-xs">
        <a href=""ng-click="mobileUserInfoToggle()" data-toggle="user-info-menu">
            <i class="fa-bell-o"></i>
            <span class="badge badge-success">7</span>
        </a>

        <a href="" ng-click="mobileMenuToggle()" data-toggle="mobile-menu">
            <i class="fa-bars"></i>
        </a>
    </div>

    <div class="settings-icon">
        <a href="" ng-click="settingsPaneToggle()">
            <i class="linecons-cog"></i>
        </a>
    </div>

</header>