<div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default panel-border panel-shadow">
                <div class="panel-heading">
                    <h3 class="panel-title">Datos principales</h3>
                    <div class="panel-options">
                        <a href>
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div style="border-bottom: 1px solid #e5e5e5;margin-bottom: 20px;">
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="../../images/photo.png" alt="..." class="img-circle">
                            </div>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <p>Cod.pais:&nbsp;</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <p><strong ng-bind="view.personaDB.codigoPais"></strong></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <p>Doc.:&nbsp;</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <p>
                                            <strong ng-bind="view.personaDB.tipoDocumento"></strong>
                                            <strong>/</strong>
                                            <strong ng-bind="view.personaDB.numeroDocumento"></strong>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <p>Apellidos:&nbsp;</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <p>
                                            <strong ng-bind="view.personaDB.apellidoPaterno"></strong>&nbsp;
                                            <strong ng-bind="view.personaDB.apellidoMaterno"></strong>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <p>Nombres:&nbsp;</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <p>
                                            <strong ng-bind="view.personaDB.nombres"></strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <button type="button" ng-click="openModal()" class="btn btn-link" style="font-size: 14px;">Cambiar foto</button>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <p>F.nac.:&nbsp;</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <p>
                                    <strong ng-bind="view.personaDB.fechaNacimiento | date : 'dd/MM/yyyy'"></strong>
                                </p>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <p>Sexo:&nbsp;</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <p>
                                    <strong ng-bind="view.personaDB.sexo"></strong>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <p>E.civil:&nbsp;</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <p>
                                    <strong ng-bind="view.personaDB.estadoCivil"></strong>
                                </p>
                            </div>
                        </div>
                    </div>
                    <button type="button" ui-sref="^.datosPrincipales" class="btn btn-white">Editar</button>
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="panel panel-default panel-border panel-shadow">
                <div class="panel-heading">
                    <h3 class="panel-title">Datos adicionales</h3>
                    <div class="panel-options">
                        <a href>
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <p>Ocupacion:&nbsp;</p>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <p>
                                        <strong ng-bind="view.personaDB.ocupacion"></strong>
                                    </p>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <p>Direccion:&nbsp;</p>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <p>
                                        <strong ng-bind="view.personaDB.direccion"></strong>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <p>Referencia:&nbsp;</p>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <p>
                                        <strong ng-bind="view.personaDB.referencia"></strong>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <p>Ubigeo:&nbsp;</p>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <p>
                                        <strong ng-bind="view.personaDB.ubigeo"></strong>
                                    </p>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <p>Telefono:&nbsp;</p>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <p>
                                        <strong ng-bind="view.personaDB.telefono"></strong>
                                    </p>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <p>Celular:&nbsp;</p>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <p>
                                        <strong ng-bind="view.personaDB.celular"></strong>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <p>Email:&nbsp;</p>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <p>
                                        <strong ng-bind="view.personaDB.email"></strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" ui-sref=".datosAdicionales" class="btn btn-white">Editar</button>
                </div>
            </div>
        </div>
    </div>
</div>