<div class="modal-header">
    <h3 class="modal-title">Selecciona una foto para la persona</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="margin-top: 30px; margin-bottom: 30px;">
            <div style="text-align: center;">
                <img src="../../images/upload.png"/>
            </div>
            <div style="text-align: center;">
                <h3 style="color: #aaa;">
                    Arrastra una foto aqui.
                </h3>
                <h4 style="color: #aaa;">
                    - o bien -
                </h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div style="text-align: center;">
                <span class="btn btn-default fileinput-button" ng-class="{disabled: disabled}">
                    <span>Selecciona una foto de tu equipo</span>
                    <input type="file" name="files[]" ng-disabled="disabled">
                </span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Guardar</button>
    <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
</div>